table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

tbody > tr:not(.no-hover):hover {
  background-color: #eee;
  cursor: pointer;
}

th, td {
  padding: 10px;
}

th {
  font-weight: bold;
}

th:hover {
  cursor: pointer;
  background-color: #eee;
}

.header-link {
  margin-bottom: 20px;
}
